<!--
/*
 * DON'T DELETE OR MOVE THIS FILE UNLESS YOU KNOW WHAT YOU ARE DOING.
 * YOU CAN EDIT THIS FILE AS LONG AS YOU USE THE FOLLOWING VARIABLES.
 * - {Error_Code}
 * - {Error_Message}
 * - {Error_File}
 * - {Error_Line}
 */-->
<style>
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    .isa_error {
        margin: 10px 0;
        padding: 12px;

    }

    .isa_error {
        color: #9F6000;
        background-color: #FEEFB3;
    }

    .isa_error i {
        margin: 10px 22px;
        font-size: 2em;
        vertical-align: middle;
    }

    hr {
        border: 1px solid white;
    }
</style>
<div class="isa_error">
    <i class="fa fa-times-circle"></i>
    Warning. Oops, we're sorry. Something went wrong.
    <hr>
    <b>Error code: </b> {Error_Code}<br/>
    <b>Error file: </b> {Error_File}<br/>
    <b>Error line: </b> {Error_Line}
    <br/><br/>
    <b>Complete trace back:</b>
    <br>
    {Error_Trace_Back}
    <br/><br/>
    <b>Error Message:</b>
    <br/>
    <span>{Error_Message}</span>
</div>
